.btn {
  --btn-border: var(--color-transparent);
  @apply text-(--btn-color) bg-(--btn-background) shadow-xs inline-flex flex-center select-none border border-(--btn-border) rounded-md transition p-2 text-sm font-medium duration-200;

  &:focus-visible {
    @apply outline-1 outline-offset-1;
  }
}

.btn-primary,
.btn-info,
.btn-success,
.btn-warn,
.btn-error {
  --btn-color: var(--color-bright);
  @apply px-4;
}

.btn-neutral {
  --btn-color: var(--color-white);
  --btn-background: var(--color-slate-900);
  --btn-border: var(--btn-background);
  @apply px-4;

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-slate-600);
    }

    &:active {
      --btn-background: var(--color-slate-700);
    }
  }
}

.btn.btn-icon {
  @apply text-lg p-2.5;
}

.btn-primary {
  --btn-background: var(--color-primary);
  --btn-border: var(--btn-background);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-primary-600);
    }

    &:active {
      --btn-background: var(--color-primary-700);
    }
  }

  &:focus-visible {
    @apply outline-primary-400;
  }
}

.btn-info {
  --btn-background: var(--color-blue-500);
  --btn-border: var(--btn-background);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-blue-600);
    }

    &:active {
      --btn-background: var(--color-blue-700);
    }
  }

  &:focus-visible {
    @apply outline-blue-400;
  }
}

.btn-success {
  --btn-background: var(--color-green-500);
  --btn-border: var(--btn-background);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-green-600);
    }

    &:active {
      --btn-background: var(--color-green-700);
    }
  }

  &:focus-visible {
    @apply outline-green-400;
  }
}

.btn-warn {
  --btn-background: var(--color-orange-500);
  --btn-border: var(--btn-background);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-orange-600);
    }

    &:active {
      --btn-background: var(--color-orange-700);
    }
  }

  &:focus-visible {
    @apply outline-orange-400;
  }
}

.btn-error {
  --btn-background: var(--color-red-500);
  --btn-border: var(--btn-background);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-red-600);
    }

    &:active {
      --btn-background: var(--color-red-700);
    }
  }

  &:focus-visible {
    @apply outline-red-400;
  }
}

.btn-sm {
  @apply rounded-sm px-3 py-2 text-sm leading-4;
}

.btn-lg {
  @apply rounded-md px-4 py-2 text-base;
}

.btn-xl {
  @apply rounded-md px-6 py-3 text-base;
}

.btn-link {
  --btn-color: var(--color-primary-500);
  --btn-background: var(--color-transparent);
  --btn-border: var(--color-transparent);
  @apply shadow-none hover:underline px-4;
}

.btn-text,
.btn-text-primary,
.btn-text-info,
.btn-text-success,
.btn-text-warn,
.btn-text-error {
  --btn-border: var(--color-transparent);
  @apply shadow-none px-4;
}

.btn-outline {
  --btn-border: var(--color-muted);
  @apply px-4;
}

.btn-outline-primary,
.btn-outline-info,
.btn-outline-success,
.btn-outline-warn,
.btn-outline-error {
  @apply border-current px-4;
}

.btn-text,
.btn-outline,
.btn-toggle {
  --btn-color: var(--color-text-default);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-slate-50);
    }

    &:active {
      --btn-background: var(--color-slate-100);
    }
  }
}

.btn-text-primary,
.btn-outline-primary {
  --btn-color: var(--color-primary);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]):not(.selected) {
    &:hover {
      --btn-background: var(--color-primary-50);
    }

    &:active {
      --btn-background: var(--color-primary-100);
    }
  }
}

.btn-text-info,
.btn-outline-info {
  --btn-color: var(--color-blue-500);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-blue-50);
    }

    &:active {
      --btn-background: var(--color-blue-100);
    }
  }
}

.dark {
  .btn-neutral {
    --btn-color: var(--color-slate-900);
    --btn-background: var(--color-white);
    --btn-border: var(--btn-background);
    @apply px-4;

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        --btn-background: var(--color-slate-100);
      }

      &:active {
        --btn-background: var(--color-slate-200);
      }
    }
  }

  .btn-text,
  .btn-outline,
  .btn-toggle {
    --btn-color: var(--color-text-default);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        @apply bg-slate-700/50;
      }

      &:active {
        @apply bg-slate-800/50;
      }
    }
  }

  .btn-text-primary,
  .btn-outline-primary {
    --btn-color: var(--color-primary);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]):not(.selected) {
      &:hover {
        --btn-background: var(--color-primary);
        background-color: color-mix(in oklab, var(--btn-background) 25%, transparent);
      }

      &:active {
        --btn-background: var(--color-primary);
        background-color: color-mix(in oklab, var(--btn-background) 10%, transparent);
      }
    }
  }

  .btn-text-info,
  .btn-outline-info {
    --btn-color: var(--color-blue-500);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        --btn-background: var(--color-blue-500);
        background-color: color-mix(in oklab, var(--btn-background) 25%, transparent);
      }

      &:active {
        --btn-background: var(--color-blue-500);
        background-color: color-mix(in oklab, var(--btn-background) 10%, transparent);
      }
    }
  }

  .btn-text-success,
  .btn-outline-success {
    --btn-color: var(--color-green-500);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        --btn-background: var(--color-green-500);
        background-color: color-mix(in oklab, var(--btn-background) 25%, transparent);
      }

      &:active {
        --btn-background: var(--color-green-500);
        background-color: color-mix(in oklab, var(--btn-background) 10%, transparent);
      }
    }
  }

  .btn-text-warn,
  .btn-outline-warn {
    --btn-color: var(--color-orange-500);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        --btn-background: var(--color-orange-500);
        background-color: color-mix(in oklab, var(--btn-background) 25%, transparent);
      }

      &:active {
        --btn-background: var(--color-orange-500);
        background-color: color-mix(in oklab, var(--btn-background) 10%, transparent);
      }
    }
  }

  .btn-text-error,
  .btn-outline-error {
    --btn-color: var(--color-red-500);
    --btn-background: var(--color-transparent);

    &:not([disabled]):not([aria-disabled="true"]) {
      &:hover {
        --btn-background: var(--color-red-500);
        background-color: color-mix(in oklab, var(--btn-background) 25%, transparent);
      }

      &:active {
        --btn-background: var(--color-red-500);
        background-color: color-mix(in oklab, var(--btn-background) 10%, transparent);
      }
    }
  }
}

.btn-text-success,
.btn-outline-success {
  --btn-color: var(--color-green-500);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-green-50);
    }

    &:active {
      --btn-background: var(--color-green-100);
    }
  }
}

.btn-text-warn,
.btn-outline-warn {
  --btn-color: var(--color-orange-500);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-orange-50);
    }

    &:active {
      --btn-background: var(--color-orange-100);
    }
  }
}

.btn-text-error,
.btn-outline-error {
  --btn-color: var(--color-red-500);
  --btn-background: var(--color-transparent);

  &:not([disabled]):not([aria-disabled="true"]) {
    &:hover {
      --btn-background: var(--color-red-50);
    }

    &:active {
      --btn-background: var(--color-red-100);
    }
  }
}

.btn-toggle:not([disabled]):not([aria-disabled="true"]):active {
  @apply border-neutral-500 bg-neutral-500 text-neutral-800;
}